body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.side .title {
  font-size: 6vw;
  margin: 0px 10vw;
  width: 80vw;
  font-weight: 600;
}

.side {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

#left-side {
  background-color: white;
  color: black;
  z-index: 2;
}

#right-side {
  background-color: black;
  color: white;
}

.fancy {
  font-family: "Lobster", cursive;
  font-weight: 800;
  font-style: normal;
}
